
.Contact
{
  position: relative;
  top: 150px;
  left: 300px;
  background: beige;
  width: 550px;
  height:300px;
  background-color: rgba(0,0,0,0.3);

}

.Contact-Icons
{
  position: relative;
  left: 187px;
}

.Text
{
 margin:23px;
}

/* 
/* Contact Icons */

/*.fa
{
  padding: 14px;
  font-size:14px;
  border-radius: 50%;
  border-color:white;
  border: 5px; 
  text-align:left;
  text-decoration: none;
  margin: 10px 2px; 
}

.fa-facebook
{
  background: #3B5998;
  
  color: white;
}

.fa-twitter
{
  background: #55ACEE;
  color: white;
}

.fa-linkedin
{ 
  background: #007bb5;
  color: white;
}

.fa-free-code-camp
{
  background: green;
  color:white;
} 

.fa-github
{
  background-color: black;
  color: white;
}
 */
