
*
{
  padding:0 ;
  margin: 0;
}

html
{
  height: 100vh;
}

body
{  
  font-family:'Aharoni';
  
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center center;
background-size: cover;
font-size:12px; 
width: 100vw;
}

#Background 
{
  background-color:beige;
  padding: 11px;
}

.Logo
{
    right: -14px;
    top: 7px;
    position: relative;
    width:75px;
    height:55px;

    /*  this code allows changing of svg colors bit complicate butfilter: invert(42%) sepia(97%) saturate(12%) hue-rotate(87deg) brightness(48%) contrast(119%);
}
 */
}



#Work_Link
{
  float:right;
}

nav
{
  float: right;
    left: -13px;
    position: relative;
}

/* Contact */
.Socials
{
    float: right;
    left: -13px;
    position: relative;
}

/* Landing Site Desctiption */
.Landing_Description
{ 
  position: relative; 
  /* border: beige solid 1px; */
  color:orange;
  padding: 30px;
  width: 364px;
  top: 174px;
  left: 403px;
  background-color: rgba(0,0,0,0.3);
}



#portfolio
{
 color:#ff3300;
 
}

.Story_Headers
{
font-size : 20px;
font-weight: bold;
}

.About_Section
{
  font-size:18px;
  background-color: aquamarine;
 text-decoration: none;
}

.Project_Title a
{
 color: #ff3300 !important ;
 font-size:20px;
 
}
/* 
@media all and ( min-width : 320px ){
#Background
{

}
} */

main
{
font-size:25px;

color:#ff3300;
}

/* #me
{
  width:100px;
  height:100px;
  border-radius:50%;
  border-style:solid;
  border-color:black;
} */

/* Contact Icons */
.fa
{
  padding: 14px;
  font-size:14px;
  border-radius: 50%;
  border-color:white;
  border: 5px; 
  text-align:left;
  text-decoration: none;
  margin: 10px 2px; 
}

.fa-facebook
{
  background: #3B5998;  
  color: white;
}

.fa-twitter
{
  background: #55ACEE;
  color: white;
}

.fa-linkedin
{ 
  background: #007bb5;
  color: white;
}

.fa-free-code-camp
{
  background: green;
  color:white;
} 

.fa-github
{
  background-color: black;
  color: white;
}

.button
{
  border-radius: 14px;
 position: relative;
 right: 309px; 
 border:solid 2px;
 /* padding: 8px;
 margin:7px ;  */
 background: inherit;
 border-color: white;
 text-decoration: none;
 /* color:yellow; */
}

 nav a
{
 text-align:center;
 color: black !important;
 text-decoration:none;
}

nav a:hover
{
  color:blue;
}
/*#Hirebtn
{
  border-radius: 14px;
  border:solid 2px;
  padding: 8px;
  margin:7px ;
  background: inherit;
  border-color: red;
}*/

.Headers
{
  color: red;
}

/* Projects- move to Work.css */
.Project_Type
{
  position: relative;
  top: 100px;
  margin: 11px;
}

/* .Project_Title
{
  background-color: beige;
  width: 300px;

} */


.Tech_Types
{
  position: relative;
  top: 100px;
  left:61px;
}

/* .ImgContainer 
{
    position: relative;     
} */



.Description
{
  position: relative;
  background-color: white;  
  left: 0px;
  width: 300px;
  height: auto;
   
}

.thumb
{
  /* width: 300px; */
  /* height: 200px; */
}
 .Box
{
  display: none;
  position:absolute;

   bottom: 107px;
   width: 300px;
    height: 200px;
   font-size:14px;
  color: black;
} 

/* .thumb:hover 
{
  
  background-color:rgba(255,0,0,0.3);
  
} */

/* .ImgContainer:hover .Box 
{
  display: inline;
  background-color: rgba(255,255,255,0.3);
  
} 



#Previous 
{
    left: 340px;
}

#Next
 {
    right: 340px;
}

/* .ImgContainer:not(:first-child) 
{
    display: none;
} */

.Navbtn 
{
    font-size: 23px;
    position: absolute;
    top: 310px;
}

 /* img.thumb 
{
  width: 300px;
  height: 200px;
    border: 3px solid transparent;
    /*border-top: 3px solid purple;
    border-left: 3px solid purple;
    border-bottom: 3px solid purple;
    border-right: 3px solid purple;*/
    /* background: -moz-linear-gradient(top, #b7deed 0%, #71ceef 50%, #21b4e2 51%, #b7deed 100% );
    background: -webkit-linear-gradient(top, #b7deed 0%, #71ceef 50%, #21b4e2 51%, #b7deed 100% );
    background: -o-linear-gradient(top, #b7deed 0%, #71ceef 50%, #21b4e2 51%, #b7deed 100% ); */
    /* align: center; */
/* }   */

/* Modal */



/* nav
{ 
  background-color:Black;
  padding: 20px 20px ;
  text-align:center;
  color: orange;
  width: auto;
  background-size: cover;
  
}

 nav a
{
  text-decoration:none;
  border:none;
  color:white;
} */
