@import  'socials.css';
@import 'navigation.css';
@import 'HamBurger_Menu.css';
@import 'media_queries.css';

* {
  padding: 0;
  margin: 0;
}

html {
  height: 806px;
}

body 
{
  font-family: 'Aharoni';
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  background-position: 50% 50%;
  background-position: right;
  font-size: 12px;
  width: 100%;
}


.Landing_Description 
{
  position: relative;
  border: beige solid 1px;
  color: orange;
  padding: 44px;
  width: 463px;
  height: 278px;
  top: 166px;
  left: 190px;
  background-color: rgba(0, 0, 0, 0.85);
}

.Owl 
{

height: 184px;

clip-path: ellipse(48% 237% at 6% 48%);

position: relative;

top: 139px;

left: 288px;

border-radius: 100px 100px;

width: 180px;
}

.Owl2 
{
  left: 122px;
  top: 139px;
  width: 180px;
  clip-path: ellipse(47% 257% at 89% 58%);
  position: relative;
  border-radius: 100px 100px;
  height: 184px;
}

.Owler
{
  position: absolute;
  left: -107px;
  top: -87px;
}

.Owler_subtitle
{
  color: orange;
  position: relative;
  left: 266px;
  top: 169px;
}

.Contact-Icons 
{
  position: relative;
  left: 357px;
  top: 17px;
  display: flex;
}






.Blog_link-button
{
  position: relative;
  left: 119px;
  padding: 10px;
  border-radius: 21px;
  background: white;
}