#Work
{
    position: relative;
    top: 354px;
}

/* .ImgContainer #tech_tag 
{
    background: grey;
    position: relative;
    border-radius: 200px;
    left: 0px;
    top: 27px;
    z-index: 3;
    font-size: 10px;
    
    width: 40px;
} */


h3
{
    font-size:20px;
    display: inline;
}

/* #Tribute
{
  position: relative;
  right:321px;
  width: 100%;
} */

.LX 
{
    position: relative;
    right: 392px;
    bottom: 857px;
    width: 300px;
    height: 200px;
}

.Twine
{
    position: relative;
    left: 3px;
    bottom: 1105px;
    width: 300px;
    height: 200px;
}

.Payment_Form
{
    position: relative;
    left: 358px;
    bottom: 221px;
    width: 300px;
    height: 200px;
}


.Feedback_Form
{
    position: relative;
    right: 337px;
    bottom: 376px;
    width: 300px;
    height: 200px;
}

.Neon_Light
{
    position: relative;
    left: 214px;
    bottom: 88px;
    width: 300px;
    height: 200px;
}


.Wikipedia_Viewer
{
    position: relative;
    left: 783px;
    bottom: 1301px;
    width: 300px;
    height: 200px;
}


.Random_Quote_Generator
{
    position: relative;
    left: 78px;
    bottom: 807px;
    width: 300px;
    height: 200px;
}



.JS_Calculator
{
    position: relative;
    bottom: 1286px;
    left: 782px;
    width: 300px;
    height: 200px;
}

.Pomodoro_Clock
{
    position: relative;
    bottom: 1530px;
    left: 428px;
    width: 300px;
    height: 200px;
}

.Tic_Tac_Toe
{
    position: relative;
    bottom: 1544px;
    left: 76px;
    width: 300px;
    height: 200px;
}

.ToDO

{
    position: relative;
    bottom: 1805px;
    left: 425px;
    width: 300px;
    height: 200px;
}