#Work
{
    position: relative;
    top: 204px;
    left:100px;
  
}

img
{
    width: 300px;
    height: 200px;
}

.Work_Gallery

{
   
    /* grid  container properties */
    display: grid;
    grid-template-columns: repeat(3,300px);
    grid-template-rows: repeat(3,300px);
    grid-gap:50px;
}

/* .ImgContainer #tech_tag 
{
    background: grey;
    position: relative;
    border-radius: 200px;
    left: 0px;
    top: 27px;
    z-index: 3;
    font-size: 10px;
    
    width: 40px;
} */


h3
{
    font-size:20px;
    display: inline;
}
