#Work
{
    position: relative;
    top:100px;
}

/* 
TODO:

Add Commerical id rule  when radion button is unchecked
Add Commerical id rule  when radion button is checked

Add Personal id rule  when radion button is unchecked
Add Personal id rule  when radion button is checked

*/

/*  When unchecked  hide personal projects  */



