#Ignore images
images /blue-27022172_640.jpg
images/coconut-designs.jpg
images/coconut-designs1.jpg

#Ignore Visual folder
.vs/


#Documention
Projects/LocalWeather/localweather/LocalWeather/localweather/docs/LocalWeather_Documentation
Projects/LocalWeather/localweather/LocalWeather/localweather/docs/.~lock.LocalWeather_Documentation#
