#Ignore images
images /blue-27022172_640.jpg
images/coconut-designs.jpg
images/coconut-designs1.jpg

#Ignore Visual folder
.vs/


#Documention
Projects/LocalWeather/localweather/LocalWeather/localweather/docs/LocalWeather_Documentation
Projects/LocalWeather/localweather/LocalWeather/localweather/docs/.~lock.LocalWeather_Documentation#
Projects/payment-form/license.txt
Projects/payment-form/README.markdown
Projects/payment-form/dist/index.html
Projects/payment-form/dist/style.css
Projects/survey-form-vanilla/src/script.babel
Projects/neon-light/README.markdown
Projects/survey-form-vanilla/license.txt
Projects/survey-form-vanilla/README.markdown

Projects/survey-form-vanilla/dist/index.html
Projects/survey-form-vanilla/dist/style.css
Projects/neon-light/license.txt
Projects/neon-light/dist/index.html
Projects/neon-light/dist/style.css
