img
{
  width: 200px;
  height: 200px;
  /* display: block; */
  left: 21px;
  position: relative;
}

.FeatureDescription
{
  margin-right: 50px;
  /* display: in; */
 
  width: 250px;
  height: 412px;
  border-radius: 20px;
  border-color: black;
  border-width: 1px;
  border-style: solid;
} 

.Features
{display: inline-flex;position: absolute;margin: 65px;padding-right: 81px;/* left: 100; */top: 284px;/* float: inherit; */}

/* .EditForm
{

}

#LoginForm
{
  float: right;
} */